@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { 
  overflow-y: scroll;
  scroll-behavior: smooth;
 }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 87.8%; 
  margin: 0 auto;
}

/* header start */

header {
  padding: 15px 0 30px;
  background-color: #132351;
}

.header-content,.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content{  width: 44%; }

h1 {
  width: 13.5%;
  margin-left: 10px;
  margin-top: 5px;
}

.trustpilot{  margin-left: 12%;}

.header-btn { margin-left: 14%; }

.header-btn a ,
.service-btn a,
.testimonials-btn,
.buyer-guide a,
.aboutus a,
.contact a {
  padding: 12px 24px;
  border-radius: 24px;
  color: #fff;
  font-size: 18px;
}
 
.header-btn a:first-child,
.service-btn li:first-child a,
.testimonials-btn,
.aboutus a,
.contact li:first-child a {
  margin-right: 20px;
  background-color: #5a6e8e;
}

.header-btn a:last-child,
.service-btn li:last-child a,
.buyer-guide a,
.contact li:nth-child(2) a {  background-color: #3daba4; }

.header-btn a::after,
.design-card a::after,
.service-btn a::after,
.testimonials a::after,
.buyer-guide a::after,
.aboutus a::after,
.contact a::after {
  content: "\f105";
  margin-left: 10px;
  font-family: FontAwesome;
  font-weight: 600;
}

.header-bottom .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  }
  
.header-bottom {
    padding-top: 7px; 
    border-bottom: 5px solid #fcc000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #132351;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    z-index: 1;
  }
  
.header-bottom a { color: #fff; }
  
 nav li:first-child a {  
   margin-right: 5px;
   margin-left: 0;
   color: #fcc000;
  }

 nav a:active { color: #fcc000; }
 
 nav a { margin: 0 5px; }
 
 .call { font-size: 24px;}
 
 .call::before,
 .contact li:last-child p::before {
   content: "\f095";
   margin-right: 7px;
   font: 26px FontAwesome;
   color: #fcc000; 
  }
  
  /* .hamburger span { display: none; } */
 /* header end */
 
 /* banner start */

.banner {
  padding:144px 0 10px;
  background:#000 url("https://www.premierbathrooms.co.uk/wp-content/uploads/2019/08/Hero_Revive_@2x.jpg") no-repeat 49% 51%;
  background-size: cover;
  color: #fff;
}

.banner-content { 
  width: 30%;
  padding: 10px;
  background-color: #111111ab; 
}

h2 { 
  padding-bottom: 15px;
  position: relative;
  font-size: 24px;
  text-shadow: 1px 2px 3px #333;
}

h2::before{
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  left: -15px;
  top: -10px;
  background: #fcc000;
}

.banner-content p { font-size: 16px; }

.banner span {
  margin-left: 5px;
  font-size: 20px;
}

.banner ul li {  display: block; }

.icon {
  width: 30%;
  padding: 10px;
  margin: 7px 0;
  border-top-left-radius: 34px;
  border-bottom-left-radius: 34px;
  background-color: #111111ab; 
}

.icon img { 
  width:10%;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #132351;
}

.banner ul {
  -webkit-transform: translateX(-500px);
      -ms-transform: translateX(-500px);
          transform: translateX(-500px);
  -webkit-animation: banner-animate 0.2s 0.5s 1 linear forwards;
          animation: banner-animate 0.2s 0.5s 1 linear forwards;
}

@-webkit-keyframes banner-animate {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes banner-animate {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/* banner end */

/* Design Bathroom start */

h3 {
  font-size: 24px;
  font-weight: 700;
}

.design-bathroom h3 {
  padding: 8px 0;
  background-color: #3daca5;
  color: #fff;
  text-align: center;
}

.design-bathroom ul,
.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design-card,
.contact li { 
  width: 32%;
  border: 1px solid #d3d3d3;
  border-radius: 18px;
  margin: 30px 0;
  text-align: center;
  overflow: hidden;
}

.design-content,
.contact-content {
  padding: 24px 0;
  border-bottom: 1px solid #d3d3d3;
}

.design-card h4,
.contact h4 {
  padding-bottom: 10px;
  color: #3273dc;
  font-size: 24px;
  font-weight: 200;
}

.design-card p,
.contact p {
  color: #132351;
  font-size: 20px;
}

.design-card a {
  background-color: #132351;
  color: #fff;
}

.design-card a {
  padding: 10px 15px; 
  border-radius: 20px;
  margin: 12px 0;
  font-size: 20px;
}
/* Design Bathroom end */

/* service section start */

.service { 
  padding: 34px 0;
  background-color: #f3f3f5;
  text-align: center;
}

.service-content {
  padding: 22px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service-content li {
  width: 22%;
  color: #303b5c;
}

.service h3 { color: #303b5c; }

.service-content img{ width: 48%;}

.service-content h5 {
  padding: 8px 0 28px;
  font-size: 20px;
  font-weight: 600;
}

.service-content p {
  font-size: 18px;
  font-weight: 500;
}

.wave-bg-green,
.wave-bg-blue,
.wave-bg-grey,
.wave-bg-white {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #f3f3f5;
  overflow: hidden;
}

.wave-bg-green .wave,
.wave-bg-blue .wave,
.wave-bg-grey .wave,
.wave-bg-white .wave {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../image/wave-green.png);
  background-size: 1000px 100px;
  font-size: 0;
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
}

.wave-bg-blue {  background-color: #6fccc6; }

.wave-bg-grey {  background-color: #1b3274; }

.wave-bg-blue .wave {  background: url(../image/wave-blue.png); }

.wave-bg-grey .wave {  background: url(../image/wave-grey.png); }

.wave-bg-white .wave {  background: url(../image/wave.png); }
@-webkit-keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
      background-position-x: 1000px;
    }
  }
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
      background-position-x: 1000px;
    }
  }
  /* service section end */
  
  
  /* testimonials section start */
  
  .testimonials {
    padding: 14px 0 38px;
    background-color: #6fccc6;
    text-align: center;
  }
  
  .sponsers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 22px;
  }
  
  .sponsers li {
    width: 20%;
    padding: 10px 24px;
    background-color: #fff;
  }
  
  .sponsers li:nth-child(2) { margin: 0 22px;}
  
  .sponsers li:last-child img { width: 25%;}
  
  .sponsers img {  width: 60%;}
  
  .testimonials-box {  margin-top: 30px; }
  
  .testimonials-box ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
.testimonials-box li{
    width: 17%;
    padding: 12px;
    position: relative;
    background-color: #f3f3f5;
    text-align: left;
 }
  
 /* Slider Section */
.slideshow-container { position: relative; }

/* Next & previous buttons */
.testimonials .prev,
.testimonials .next {
  width: auto;
  padding: 16px;
  margin-top: -22px;
  position: absolute;
  top: 50%;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  font-size: 0px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.testimonials .prev::before { content: '\f104';}

.testimonials .next::before { content: '\f105';}

.testimonials .prev::before,
.testimonials .next::before { 
  font:22px FontAwesome;
  font-weight: 700;
 }

.testimonials .prev { left: -5%; }
.testimonials .next { right: -5%; }

/* On hover, add a black background color with a little bit see-through */
.testimonials .prev:hover,
.testimonials .next:hover {  color: #3daca5;}

.testimonials .prev::before,
.testimonials .next::before { font-size: 18px; }

.indicators { text-align: center; }

.indicator {
  width: 7px;
  height: 7px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 50%;
  display: inline-block;
  background-color: #f8f9fa;
  -webkit-box-shadow: 0 0 2px #f8f9fa;
          box-shadow: 0 0 2px #f8f9fa;
  cursor: pointer;
}

.indicator.active { background-color: #3daca5; }

.indicator:hover {
  background-color: #3daca5;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.indicators span { font-size: 0;}

.fade-right {
  -webkit-animation-name: fade-right;
          animation-name: fade-right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fade-right {
  from { opacity: 0; -webkit-transform: translateX(-18px); transform: translateX(-18px); }
  to { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes fade-right {
  from { opacity: 0; -webkit-transform: translateX(-18px); transform: translateX(-18px); }
  to { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); }
}

.star .fas {
   padding-bottom: 20px;
   color: #3daba4;
   font-size: 0;
}
  
.star .fas::before{  font-size: 16px; }

.star .grey {   float: right; }

.testimonials-box li p {
  padding: 10px 0 38px; 
  font-size: 14px;
}

.grey {
  color: #778899;
  font-size: 12px;
}

.grey:nth-child(2) { 
  position: absolute; 
  bottom: 0;
}

.testimonials .wrapper > p {
  margin-top: 12px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.testimonials .wrapper > p span {    border-bottom: 1px solid #fff; }

.testimonials .wrapper > p img {   width: 6%; }

.testimonials-btn { 
  margin-top: 25px;
  margin-right: 0;
  text-align: center;
}

/* testimonials section end */

/* buyer guide section start */

.buyer-guide {
  padding: 42px 0 38px;
  background-color: #1b3274;
  text-align: center;
}

.buyer-guide h3,
.aboutus h3 {
  color: #3daca5;
  font-size: 38px;
  font-weight: 300;
}

.buyer-guide p {
  width: 60%;
  padding: 24px 0 22px;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
}
/* buyer guide section end */

/* aboutus section start */

.aboutus {  background-color: #f3f3f5; }

.aboutus ul {  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aboutus li {
  width: 48%;
  padding: 48px 0;
  vertical-align: top;
}

.aboutus li:first-child { padding-left: 54px;}

.aboutus h3 {  color: #1b3274; }

.aboutus p { 
  padding: 22px 0 24px;
  color: #1b3274;
  font-size: 20px;
}
/* aboutus section end */

/* contact section start */

.contact li:first-child a { margin-right: 0;}

.contact li:last-child {  border: none; }

.contact li:last-child p {  font-size: 34px; }

.contact li:last-child span {
  color: #132351;
  font-size: 20px;
  font-weight: 600;
}

.contact li:last-child p::before { font-size: 35px; }

.contact-no{  padding: 156px 0; }

.contact-btn { padding: 12px 0; }

/* contact section end */

/* footer section start */
footer {
  padding: 72px 0 8px;
  background-color: #132351;
  color: #fff;
}

footer a { color: #fff; }

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav { 
  width: 30%;  
  vertical-align: top; 
}

.footer-nav li {  display: block; }

.footer-nav h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #3273dc;
  margin-bottom: 10px;
  font-size: 28px;
}

.footer-nav a {  padding-bottom: 5px; }

.footer-link { padding: 64px 0 44px; }

.footer-link li:nth-child(2) a { 
  padding: 0 7px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  margin: 0 5px;
}

.top-btn {
  padding:15px;
  border-radius: 25px;
  border:1px solid #009fe3;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: #1b3274;
  color: #fff;
  text-transform: uppercase;
}

.top-btn::after {
  content: "\f062";
  padding-left: 5px;
  font-family: FontAwesome;
 }
/* footer section end */

/*media query starts*/
/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {
  .trustpilot { margin-left: 5%; }
  
  .header-btn {   margin-left: 8%; }  
}

/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {
  .hamburger span { display: none; }

  .header-btn a:hover,
  .header-bottom span a:hover,
  .service-btn a:hover,
  .testimonials-btn:hover, 
  .buyer-guide a:hover, 
  .aboutus a:hover, 
  .contact a:hover,
  .design-card a:hover,
  .contact a:hover,
  .top-btn:hover { 
    color: #fcc000;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
   }

  .design-card:hover,
  .contact li:hover,
  .service img:hover { 
    opacity: 0.5;
    cursor: pointer;
    -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
        transform: scale(1.05);
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
   }

  .menu li a:hover {
    color: #6fccc6;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .design-card h4:hover,
  .contact h4:hover { 
    color: #778899;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
  }

   footer a:hover {
     color: #3daca5;
     -webkit-transition: all .3s ease-in;
     -o-transition: all .3s ease-in;
     transition: all .3s ease-in
    }
  }
  
@media only screen and (max-width: 1024px) {
  
  .trustpilot { margin-left: 5%; }
  
  .header-btn {   margin-left: 8%; }

  .header-btn a { font-size: 16px; }

  .design-card p { font-size: 18px; }

  .buyer-guide p {width:  70%; }

  .aboutus h3 { font-size: 30px; }
}  

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .hamburger {
    width: 5%;
    display: block;
    position: absolute;
    top: 3%;
    right: 10%;
  }

  .hamburger > span {
    height: 4px;
    border-radius: 3px;
    margin: 5px 0;
    display: block;
    background-color: #fcc000;
    text-indent: -9999px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  
  .hamburger-active > span:nth-child(1) {
    margin: 0;
    background-color: #dc143c;
    -webkit-transform: translate(-5px,5px) rotate(45deg);
        -ms-transform: translate(-5px,5px) rotate(45deg);
            transform: translate(-5px,5px) rotate(45deg);
  }

  .hamburger-active > span:nth-child(2) {
    margin: 0;
    background-color: #8a2be2;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .hamburger-active > span:nth-child(3) {
    margin: 0;
    background-color: #dc143c;
    -webkit-transform: translate(-6px,-5px) rotate(-45deg);
        -ms-transform: translate(-6px,-5px) rotate(-45deg);
            transform: translate(-6px,-5px) rotate(-45deg);
  }

  .menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 76px;
    right: 0;
    background: -o-linear-gradient(left, #CCC, #fff,#CBB);
    background: -webkit-gradient(linear, left top, right top, from(#CCC), color-stop(#fff),to(#CBB));
    background: linear-gradient(to right, #CCC, #fff,#CBB);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  
  .navScale {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    z-index: 2;
  }

  nav ul li { padding: 5px; }
  
  .menu li a { 
    color: #fff ; 
    border: none;
    font-size: 20px;
  }

  .menu li {
    border: 1px solid #1b3274;
    display: block;
    background-color:#333;
    text-align: center;
  }
  
  /* hamburger end */ 

  header { padding-top: 20px;}
  
  h1 { width: 20%; }

  .trustpilot,
  .header-btn,
  .header-bottom span {  display: none; }

  .header-bottom {
    padding-top: 0; 
    border: none;
    position: inherit;
   }

  .contact h4 {  font-size: 26px; }

  .contact p { font-size: 18px;}

  .testimonials li { width:  16%; }

  .star .fas { 
    font-size: 0px;
    vertical-align: top;
  }

  .star .fas::before { font-size: 10px; }
}

@media only screen and (max-width: 768px) {
  h1 { width: 33%; }

  .hamburger { top: 3%; }

  .banner-container {  
    margin: 0 25%;
    position: relative;
    top: -50%;
   }

  .banner-content,.icon { width: 100%; }
  
  .design-card ,
  .contact li {
    width: 80%;
    margin: 30px 10%;
  }
  
  .buyer-guide p { width: 75%; }
  
  .testimonials-box li:nth-child(4),
  .testimonials-box li:nth-child(5) { display: none; }
  
  .testimonials-box li { width: 26%; }
  
  .service-content li { 
    width: 48%;
    margin-bottom: 40px;
  }
  
  .service-content img {  width: 50%; }

  .service-content,
  .aboutus ul,
  .footer-top { display: block; }

  .aboutus li { 
    width: auto;
    padding: 48px 9%;
  }

  .contact-no {  padding: 0; }

  .footer-nav {
    width: 95%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-link { 
    padding-top: 12px;
    text-align: center; }
}


@media only screen and (max-width: 540px) {
 .service-content li { width: 52%; }

 .service-btn li:first-child a {
   margin-right: 0;
   margin-bottom: 20px;
 }

 .testimonials-box li { width: 68%; }
 
 .testimonials-box li:nth-child(2), 
 .testimonials-box li:nth-child(3) {  display: none; }

 .sponsers img { width: 100%; }

 .contact h4 { font-size: 24px;}
}


@media only screen and (max-width: 425px) {
  h2,h3 { font-size: 20px; }

  .hamburger { width: 6%; }

  .hamburger span { height: 3px; };

  .banner span { font-size: 12px; }

  .buyer-guide h3 { font-size: 32px; }

  .buyer-guide p,
  .header-btn a,
  .service-btn a, 
  .testimonials-btn, 
  .buyer-guide a, 
  .aboutus a, 
  .contact a,
  footer p {font-size: 15px;}

  .contact h4 { font-size: 22px; } 
}